.vscode
.venv
.idea

venv-nlp-api/

training_data/lid.176.bin
user_training_data
logs
app/.env
files

__pycache__/
*.py[cod]
*.mo
*Zone.Identifier

# Unit test / coverage reports
.coverage
coverage_html_report
.tox
nosetests.xml

python-probe.log
.env
languagetool/LanguageTool-5.5/org/languagetool/resource/de/hunspell/ignore.txt
