.vscode
.venv
.idea

venv-nlp-api/

training_data/lid.176.bin
training_data/en-GB

analyze_rules/*

__pycache__/
*.py[cod]
*$py.class
*.mo
*Zone.Identifier
.pdm.toml

database/db.sqlite3

# Unit test / coverage reports
.coverage
htmlcov
coverage.xml

python-probe.log
.env

openapi.json
categories.csv
subcategories.csv
.python-version
.blackfire.ini
.pdm-python

models/context_aware_model/
