.vscode
.venv
.idea

venv-nlp-api/

training_data/lid.176.bin

analyze_rules/*

__pycache__/
*.py[cod]
*.mo
*Zone.Identifier

# Unit test / coverage reports
.coverage
htmlcov
coverage.xml

python-probe.log
.env

openapi.json
categories.csv
subcategories.csv
.python-version
