[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {version = ">=0.68.0,<0.69.0"}
pydantic = {version = ">=1.2.0,<2.0.0"}
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
spacy = "*"
pandas = "*"
jinja2 = "*"
aiofiles = "*"
babel = "*"
aiohttp = "*"
sentry-sdk = "*"
opencensus-ext-azure = "*"
redis = "*"
platformshconfig = "*"
fakeredis = "*"

[dev-packages]
click = "*"
polib = "*"
pytest = "*"
pytest-cov = "*"
python-dotenv = "*"
black = "*"
opencensus-ext-azure = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"
