[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {version = ">=0.77.0,<0.78.0"}
pydantic = {version = ">=1.2.0,<2.0.0"}
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
spacy = {version = ">=3.2.0,<3.3.0"}
pandas = "*"
aiofiles = "*"
babel = "*"
aiohttp = "*"
sentry-sdk = "==1.5.4"
opencensus-ext-azure = "*"
redis = "*"
platformshconfig = "*"
fakeredis = "*"
fasttext = "*"
fastapi-microsoft-identity = "*"

[dev-packages]
click = "*"
polib = "*"
pytest = "*"
pytest-cov = "*"
python-dotenv = "*"
black = "*"
opencensus-ext-azure = "*"
pytest-asyncio = "*"
pytest-snapshot = "*"
eng = ">=0.1.1"

[requires]
python_version = "3.9"
