[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {version = ">=0.90.0,<0.91.0"}
pydantic = {version = ">=1.2.0,<2.0.0"}
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
spacy = "*"
pandas = "*"
aiofiles = "*"
babel = "*"
aiohttp = "*"
sentry-sdk = "*"
opencensus-ext-azure = "*"
redis = "*"
platformshconfig = "*"
fakeredis = "*"
fasttext = "*"
fastapi-microsoft-identity = "*"
slack-bolt = "*"
german-nouns = "*"
inflex = "*"
blackfire = "*"
spacy-lookups-data = "*"

[dev-packages]
click = "*"
polib = "*"
pytest = "*"
pytest-cov = "*"
python-dotenv = "*"
black = "*"
opencensus-ext-azure = "*"
pytest-asyncio = "*"
pytest-snapshot = "*"
eng = ">=0.1.1"

[requires]
python_version = "3.11"
