/* Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* Styles */
body {
  font-family: 'Lato',Helvetica,sans-serif;
  color: #000;
  background-color: #f9f9f9;
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: 0;
}

header {
  background-color: #fff;
  padding: 1rem 3rem;
  border-bottom: 1px solid #eee;
}

.body-container {
  margin: 0 auto;
  max-width: 1080px;

}

section {
  margin: 0 auto;
  max-width: 1080px;
  padding: 3rem;
}

textarea#editor {
  width: 100%;
  resize: vertical;
  min-height: 200px;
  max-height: 600px;
  overflow: auto;
  outline: none;
  padding: 0.5rem;
  /* margin: 1rem 0; */
  border: 2px solid #ddd;
  margin-bottom: 4rem;
  border-radius: 5px;
  color: #323232;
}

h2.support-title {
  font-family: 'Ibarra Real Nova', serif;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: -1.2px;
  line-height: 1.1;
  margin-bottom: 2rem;
}

a.support-link {
  color: #F06464;
  text-decoration: none;
}

/* Alert and info boxes */

/* .alert {
  padding: .8rem;
  color: white;
  border-radius: 5px;
  margin-bottom: .8rem;
  line-height: 1.2rem;
  opacity: 0.83;
}

.alert.warning {
  background-color: rgb(249, 82, 87);
}

.alert.info {
  background-color: rgb(13, 58, 70);
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: #000;
} */