<!doctype html>
<html lang="de">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Witty Works - Sprache bewegt</title>
  <link href="./static/styles.css" rel="stylesheet">
</head>

<body>
  <header>
    <img src="./static/witty-logo.svg" alt="Logo Witty" width="30">
  </header>
  <div class="body-container">
    <textarea id="editor" rows="25" spellcheck="false"></textarea>
    </section>
  </div>

  <section>
    <h2>How to use this form?</h2>
    <div>
      <p>
        If Witty <a href="https://www.witty.works/en/help/where-can-i-use-witty">doesn't work yet</a> on
        the website you need, you can always copy&paste your text into this text field to use Witty.
      </p>
      <ol>
        <li>
          <a href="https://www.witty.works/get">
            Register to get the installation link.
          </a>
        </li>
        <li>
          <a href="https://www.witty.works/en/help/how-do-i-install-witty">
            Install Witty into your browser.
          </a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Cut,_copy,_and_paste#Cut_and_paste">
            Copy&paste your text into the above form.
          </a>
        </li>
      </ol>
    </div>

</body>

</html>