<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Witty Works - Sprache bewegt</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/manifest.json') }}" rel="manifest"" >
</head>
<body>
  <header>
    <img src="{{ url_for('static', path='/witty-logo.svg') }}" alt="Logo Witty" width="30">
  </header>
  <div class="body-container">
      <textarea id="editor" rows="25" spellcheck="false" placeholder="Bitte hier Text eingeben oder per Copy&Paste hineinkopieren."></textarea>
    </section>
  </div>
</body>
</html>